@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap');

@font-face{
    font-family: "MAFS";
    SRC: URL("../fonts/Inter-Light.ttf");
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: blanchedalmond;
}

    a:link{ color: #ffffff; text-decoration: none}

    a:active{ color: #5a5a5a; text-decoration: none}

    a:visited{ color: #b8b1b1; text-decoration: none}

    a:hover{ color: hsl(61, 100%, 50%); font-size: 22px}

html{
    background-image: url(../img/fondo-sitio.jpg);
}

.grid-container {
    display:grid;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,1fr 0,2fr 1fr 0,2fr;
    grid-template-areas: 
        "header header"
        "nav nav"
        "section aside"
        "footer footer";
    }

/* Encabezado + nav */

.header {
    display: flex;
    justify-content: top center;
    grid-area: header;
}

.header img{
    width: 1000px;
    height: auto;
}

nav {
    grid-area: nav;
}

nav .menu {
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
}

nav .menu li{
    text-underline-offset: none;
    list-style: none;
    padding: 10px;
    border: solid 1px gold;
    border-radius: 6px;
    font-family: 'DynaPuff', cursive;
    font-weight:400;
    font-size: 20px;
    
}

/* ............CSS DE LA PAGINA INDEX.............. */

.section {
    background-color:rgb(121, 196, 113, 60%);
    grid-area: section;
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 0px;

}

h1 {
    color:rgb(255, 238, 0);
    padding: 40px;
    padding-bottom: 10px;
    font-size: 35px;
    font-family: 'DynaPuff', cursive;
    font-weight: 500;
}
    
h2{
    color:rgb(255, 238, 0);
    padding-top: 10pxpx;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top:px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    
}

p{
    color:rgb(241, 233, 233);
    padding:40px;  
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "MAFS";
    font-size: 16px;
}

.aside {
    grid-area: aside;
    margin-top: 15px;
    margin-right: 8px;
    margin-bottom: 0px;
}


hr{
    width:500px;
    margin: 10px;
    margin-left:0px;
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    background-color: rgba(255, 145, 0, 0.60);
    padding: 1rem; 
    margin: 15px;
    grid-area: footer;
    border-radius: 10px;
    justify-content: space-evenly;

}


.menuFooter li{
    list-style: none;
    padding:5px;
    margin-left: 15px;
    border-radius: 6px;
    font-family: 'DynaPuff', cursive;
    font-weight:400;
    font-size: 16px; 
    
}

.direccion p{
    display:flex;
    flex-direction: column;
    font-size:13px;
    padding:7px;
    border:none;
    margin: none;
    
}

.redes{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    padding: auto0px;
    border:0px;
}

h3{
    color:rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top:20px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400; 
    font-size: 15px;
}

.facebook img{
        max-width: 30px;
        max-height: 30px;
        margin: 10px;
        margin-top:5px;
    }

.instagram img{
    max-width: 30px;
    max-height: 30px;
    }

/*.............CSS DE LA PÁGINA PRODUCTOS..............*/

.grid-container_productos {
    display:grid;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1rem;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 1fr 1fr 0,5fr;
    grid-template-areas: 
        "header header"
        "nav nav"
        "section1 section1"
        "section2 section2"
        "footer footer";
    }

    .section__arriba{
        display:flex;
        flex-direction:row;
        gap: 2rem; 
        grid-area: section1;
    }

    .section__abajo{
        display:flex;
        flex-direction:row;
        gap: 2rem;
        grid-area: section2;
    }
    
    .imagen{
        width: 100%; 
    }  
    .tarjeta_cuadro{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        margin-top: 20px;
        box-shadow: 14px 16px 20px;

    }
    .tarjeta_encastre{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        box-shadow: 14px 16px 20px;
        margin-top: 20px;
    }

    .tarjeta_abecedario{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        box-shadow: 14px 16px 20px;

    }

    .tarjeta_souvenirs{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        box-shadow: 14px 16px 20px;
    }


    .Info {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap:1rem;
        align-items: stretch;
    }

    .linea2{
        width: auto;
        margin: 0px;
    }

    .link_productos{
        text-decoration: none;
        background-color: #65b375;
        color: white;
        padding: 1rem;
        border-radius: 10px;
        font-family: 'DynaPuff', cursive;
        font-weight: 400; 
        font-size: 20px;
        }


    /*...............CSS DE LA PÁGINA SABÍAS QUE.............*/

    
    .grid-container_sabias-que {
            display:grid;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            column-gap: 1rem;
            min-height: 100vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0,5fr 1fr 1fr 1fr 0,5fr;
            grid-template-areas: 
                "header header"
                "nav nav"
                "globasArriba globasArriba"
                "globasAbajo globasAbajo"
                "footer footer";
            }
        
            .section__globas-arriba{
                display:flex;
                flex-direction:row;
                gap: 2rem; 
                grid-area: globasArriba;

            }
        
            .section__globas-abajo{
                display:flex;
                flex-direction:row;
                gap: 2rem;
                grid-area: globasAbajo;
            }
            
            .imagen{
                width: 100%; 
            }  
            .tarjeta_sabias-torre{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
                margin-top: 20px;
                }
                
            .tarjeta_sabias-abecedario{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
                margin-top: 20px;
            }
        
            .tarjeta_sabias-cubos{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
        
            }
        
            .tarjeta_sabias-puzzle{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
            }

            .negroTorres{
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
                margin-left:50px;
            }

            .negroAbc{
                color: black;
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
                margin-left:50px;
            }

            .negroCubos{
                color: black;
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
                margin-left: 50px;
            }

            .negroPuzzle{
                color: black;
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
            }    


/*..............CSS DE LA PAGINA DE EXPERIENCIAS...............*/ 

.grid-container_experiencias {
    display:grid;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1rem;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 0,5fr 2fr 2fr 2fr 2fr 0,5fr;
    grid-template-areas: 
        "header"
        "nav"
        "section1"
        "section2"
        "section3"
        "section4"
        "footer"
    }

    
main{
    display: flex;
    align-items: center;
}

section.experiencias{
        display:flex;
        flex-direction:column;
        text-align: center;
        max-width: 100%;
        
}

.h2Exp{
    display: flex;
    margin:30px;
    margin-left: 50px;
}

    .tarjetaExperiencias{
        display:flex;
        margin-left: 50px;
        padding-bottom: 20px;

    }

    .textoExperiencia{
        display:flex;
    }

    .imagen_exp{
        display:flex;
        width: 80%;

    }

    footer{
        display:flex;
        min-width: 100%;
        background-color: rgba(255, 145, 0, 0.60);
        margin-top: 15px;
        margin-left: auto;
        grid-area: footer;
        border-radius: 10px;
        justify-content: space-evenly;
    
    }

/* .................MEDIA QUERIES.................*/

@media (max-width: 600px) {

    a:link{ color: #ffffff; text-decoration: none}

    a:active{ color: #5a5a5a; text-decoration: none}

    a:visited{ color: #b8b1b1; text-decoration: none}

    a:hover{ color: hsl(61, 100%, 50%); font-size: 17px}

html{
    background-image: url(../img/fondo-sitio.jpg);
}

/* MEDIA QUERIE DEL ENCABEZADFO + NAV */

.grid-container {
    display:flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: top center;
    height: auto;
}

.header img{
    width: 600px;
    height: 120px;

}

nav {
    grid-area: nav;
}

nav .menu {
    display: flex;
    height: 70px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 50%);
}

nav .menu li{
    text-underline-offset: none;
    list-style: none;
    padding: 10px;
    border: solid 1px gold;
    border-radius: 6px;
    font-family: 'DynaPuff', cursive;
    font-weight:400;
    font-size: 15px;
    
}

/* MEDIA QUEIRE DE LA PÁGINA INDEX */

.section {
    background-color:rgb(121, 196, 113, 60%);
    border-radius: 10px;
    margin: 30px;
}

h1 {
    color:rgb(255, 238, 0);
    padding: 20px;
    padding-bottom: 10px;
    margin-left:20px;
    font-size: 30px;
    font-family: 'DynaPuff', cursive;
    font-weight: 500;
}
    
h2{
    color:rgb(255, 238, 0);
    padding-top: 10pxpx;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top:20px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    
}

p{
    color:rgb(241, 233, 233);
    padding:40px;  
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "MAFS";
    font-size: 16px;
}

.aside {
margin:auto;

}

hr{
    width:500px;
    margin: 10px;
    margin-left:0px;
}

/* Footer */

footer{
    display: flex;
    align-items: center;
    max-width: 600px;
    background-color: rgba(255, 145, 0, 0.60);
    padding: 1rem; 
    margin: 15px;
    border-radius: 10px;
    justify-content: space-evenly;

}

footer .menuFooter li{
    list-style: none;
    padding:5px;
    margin-left: 15px;
    border-radius: 6px;
    font-family: 'DynaPuff', cursive;
    font-weight:400;
    font-size: 16px;
    
}

.direccion p{
    display:flex;
    flex-direction: column;
    font-size:13px;
    padding:7px;
    border:none;
    margin: none;
    
}

.redes{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    padding: auto0px;
    border:0px;
}

h3{
    color:rgb(255, 255, 255);
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-top:20px;
    margin-left: 0px;
    margin-bottom: 10px;
    font-family: 'DynaPuff', cursive;
    font-weight: 400; 
    font-size: 15px;
}

.facebook img{
        max-width: 30px;
        max-height: 30px;
        margin: 10px;
        margin-top:5px;
    }

.instagram img{
    max-width: 30px;
    max-height: 30px;
    }

}


/*MEDIA QUERIE DE LA PÁGINA PRODUCTOS*/

.grid-container_productos {
    display:grid;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1rem;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0,5fr 1fr 1fr 1fr 0,5fr;
    grid-template-areas: 
        "header header"
        "nav nav"
        "section1 section1"
        "section2 section2"
        "footer footer";
    }

    .section__arriba{
        display:flex;
        flex-direction:row;
        gap: 2rem; 
        grid-area: section1;
    }

    .section__abajo{
        display:flex;
        flex-direction:row;
        gap: 2rem;
        grid-area: section2;
    }
    
    .imagen{
        width: 100%; 
    }  
    .tarjeta_cuadro{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        margin-top: 20px;
        box-shadow: 14px 16px 20px;

    }
    .tarjeta_encastre{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        box-shadow: 14px 16px 20px;
        margin-top: 20px;
    }

    .tarjeta_abecedario{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        box-shadow: 14px 16px 20px;

    }

    .tarjeta_souvenirs{
        background-color: rgb(0, 0, 0, 60%);
        text-align: center;
        box-shadow: 14px 16px 20px;
    }


    .Info {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap:1rem;
        align-items: stretch;
    }

    .link_productos{
        text-decoration: none;
        background-color: #65b375;
        color: white;
        padding: 1rem;
        border-radius: 10px;
        font-family: 'DynaPuff', cursive;
        font-weight: 400; 
        font-size: 20px;
        }


    /*........MEDIA QUERIES DE LA PÁGINA SABÍAS QUE.......*/

    
    .grid-container_sabias-que {
            display:grid;
            max-width: 1000px;
            margin-left: auto;
            margin-right: auto;
            column-gap: 1rem;
            min-height: 100vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0,5fr 1fr 1fr 1fr 0,5fr;
            grid-template-areas: 
                "header header"
                "nav nav"
                "globasArriba globasArriba"
                "globasAbajo globasAbajo"
                "footer footer";
            }

            
        
            .section__globas-arriba{
                display:flex;
                flex-direction:row;
                gap: 2rem; 
                grid-area: globasArriba;

            }
        
            .section__globas-abajo{
                display:flex;
                flex-direction:row;
                gap: 2rem;
                grid-area: globasAbajo;
            }
            
            .imagen{
                width: 100%; 
            }  
            .tarjeta_sabias-torre{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
                margin-top: 20px;
                }
                
            .tarjeta_sabias-abecedario{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
                margin-top: 20px;
            }
        
            .tarjeta_sabias-cubos{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
        
            }
        
            .tarjeta_sabias-puzzle{
                background-color: rgb(0, 0, 0, 1%);
                text-align: center;
            }

            .negroTorres{
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
            }

            .negroAbc{
                color: black;
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
            }

            .negroCubos{
                color: black;
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
            }

            .negroGloba{
                color: black;
                width: 400px;
                color: black;
                position: absolute;
                margin-top: 100px;
            }


/*........MEDIA QUERIES DE LA PÁGINA EXPERIENCIAS.......*/


.grid-container_experiencias {
    display:grid;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    column-gap: 1rem;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0,5fr 0,5fr 2fr 2fr 2fr 2fr 0,5fr;
    grid-template-areas: 
        "header"
        "nav"
        "section1"
        "section2"
        "section3"
        "section4"
        "footer"
    }

    
main{
    display: flex;
    align-items: center;
}

section.experiencias{
        display:flex;
        flex-direction:column;
        text-align: center;
        max-width: 100%;
        
}

.h2Exp{
    display: flex;
    margin:30px;
    margin-left: 50px;
}

    .tarjetaExperiencias{
        display:flex;
        margin-left: 50px;
        padding-bottom: 20px;

    }

    .textoExperiencia{
        display:flex;
    }

    .imagen_exp{
        display:flex;
        width: 80%;

    }

    footer{
        display:flex;
        min-width: 100%;
        background-color: rgba(255, 145, 0, 0.60);
        margin-top: 15px;
        margin-left: auto;
        grid-area: footer;
        border-radius: 10px;
        justify-content: space-evenly;
    
    }